body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
  }
  
  p {
    margin: 0;
  }
  
  h1 {
    margin: 0;
  }
  
  button {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 30px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .calc-container {
    margin-top: 50%;
    border: 2px solid rgb(47, 45, 45);
    border-radius: 5px;
    width: 270px;
    height: 350px;
    position: relative;
    z-index: 100;
    transition: 0.5s;
  }
  
  .calc-container:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 30px black;
  }
  
  .display-container {
    width: 100%;
    height: 110px;
    text-align: end;
  }
  
  #h1 {
    margin-top: 20px;
    margin-right: 5px;
    font-size: 50px;
  }
  
  .ex-btns {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 111px;
    bottom: 0;
    left: 160px;
    right: 0;
    z-index: 9;
  }
  
  .ex-btns button {
    /*  background-color: hsl(30, 100%, 65%);*/
    background-color: #5b63d7;
  }
  
  .ex {
    width: 100%;
    height: 100%;
  }
  
  .numbers-container {
    outline: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 111px;
    bottom: 0;
    right: 112px;
    left: 0;
    z-index: 10;
  }
  
  .numbers-container button {
    /*background-color: hsl(220, 54%, 60%);*/
    background-color: #323ccd;
  }
  
  .ex-btns button:active {
    background-color: hsl(30, 70%, 50%);
  }
  
  .numbers-container button:active {
    background-color: hsl(220, 54%, 20%);
  }
  
  #grand-total {
    margin-top: 3px;
    position: absolute;
    top: 0;
    left: 100px;
  }